body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    width: 1280px;
    height: 640px;
    border: solid tomato 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.game > .tileset {
    width: 64px;
    height: 64px;
}